<% if flash[:notice] %>
 <p class="notice"><%= flash[:notice] %></p>
<% end %>

<div class="show-item">
  <strong>Title:</strong>
  <span><%= @book.title %></span>
</div>

<div class="show-item">
  <strong>Body:</strong>
  <span><%= @book.body %></span>
</div>

<%= link_to "Edit", edit_book_path(@book.id) %>
|
<a href="/books">Back</a>

